<main>
  <section class="DMC_Section">
    <h2>Welcome to CSE Motors!</h2>
    <img src="/images/vehicles/delorean.jpg" alt="DeLorean" />
    <div>
      <h3>DMC DeLorean</h3>
      <ul>
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
      </ul>
      <button class="own_button"><a href="#">Own Today</a></button>
    </div>
  </section>


  <section class="Delorean_section">
    <h3>DeLorean Upgrades</h3>
    <div class="flux_Capacitor">
      <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
      <p>Flux Capacitor</p>
    </div>
    <img class="flame_decals">
      <img src="/images/upgrades/flame.jpg" alt="Flame Decals" />
      <p>Flame Decals</p>
    </img>
    <div class="bumper_stickers">
      <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" />
      <p>Bumper Stickers</p>
    </div>
    <div class="hub_caps">
      <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
      <p>Hub Caps</p>
    </div>
  </section>

  <section class="DMC_reviews">
    <h3>DMC DeLorean Reviews</h3>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"'80s livin and I love it!" (5/5)</li>
    </ul>
  </section>
