
<main>
    <section class="hero">
        <h2>Welcome to CSE Motors!</h2>
        <img src="delorean.png" alt="DMC DeLorean">
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <a href="#" class="button">Own Today</a>
    </section>

    <section class="features">
        <h2>DeLorean Upgrades</h2>
        <div class="feature">
            <img src="flux-capacitor.png" alt="Flux Capacitor">
            <p>Flux Capacitor</p>
        </div>
        <div class="feature">
            <img src="flame-decals.png" alt="Flame Decals">
            <p>Flame Decals</p>
        </div>
        <div class="feature">
            <img src="bumper-stickers.png" alt="Bumper Stickers">
            <p>Bumper Stickers</p>
        </div>
        <div class="feature">
            <img src="hub-caps.png" alt="Hub Caps">
            <p>Hub Caps</p>
        </div>
    </section>

    <section class="reviews">
        <h2>DMC DeLorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"'80s livin and I love it!" (5/5)</li>
        </ul>   

    </section>
</main>