<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <%# messages() %>

            <% if (message) { %>
                <div class="invManagementLinks">

                    <h2><%- message %></h2>
                    <a href="/inv/addInventory">Add New Inventory</a>
                </div>

                <% } else { %>
                    <%- grid %>
                        <% } %>